---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
        date: "Octubre 2023 - Diciembre 2023",
        title: "Practica Profesional Desarrollador FullStack en ImaginePro",
        description: `Desarrollé una plataforma de ventas de entradas para eventos, participando en el diseño y la implementación del sistema de gestión de tickets. Utilicé PostgreSQL para el modelado de la base de datos y Balsamiq para wireframing. Implementé el backend en Java con Spring Boot y el frontend en Angular e Ionic, colaborando estrechamente con un compañero para entregar el MVP.`,
        link: "#"
    },

]
---
<ol class="relative border-s border-gray-200 ml-3">
    {
        EXPERIENCE.map((experience) => (
          <li class="mb-10 ms-4">
            <ExperienceItems {...experience} />
          </li>
        ))
    }  
</ol>
