---
const currentYear = new Date().getFullYear()
---

<footer id="contacto" class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex flex-col items-center">
  <div class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4 flex flex-col items-center">
    <!-- Correo en la parte superior -->
    <a href="mailto:alexisfabian1230@gmail.com" class="hover:underline text-yellow-400 dark:text-zinc-200/90 text-sm mb-3">alexisfabian1230@gmail.com</a>
    
    <!-- Línea separadora -->
    <hr class="w-full border-t border-yellow-400 my-3 md:max-w-2xl">

    <!-- Texto de derechos de autor -->
    <span class="text-sm sm:text-center text-yellow-400 dark:text-zinc-200/90">
      © {currentYear} - Creado con ❤️ por 
      <a href="#" class="hover:underline">AlexsibDev</a>
    </span>
  </div>
</footer>
