<header class="flex justify-center items-center py-5 px-8 w-full mx-auto sticky top-0 z-50 bg-gradient-to-r from-[#020f1d] to-[#032041] shadow-lg">
  <nav class="flex gap-x-10 opacity-90 text-white font-semibold">
    <a href="/" class="hover:text-gray-400 transition-colors duration-300">INICIO</a>
    <a href="/#sobre-mi" class="hover:text-gray-400 transition-colors duration-300">SOBRE MÍ</a>
    <a href="/#experiencia" class="hover:text-gray-400 transition-colors duration-300">EXPERIENCIA</a>
    <a href="/#proyectos" class="hover:text-gray-400 transition-colors duration-300">PROYECTOS</a>
    <a href="/#contacto" class="hover:text-gray-400 transition-colors duration-300">CONTACTO</a>
  </nav>
</header>
