---
import NavBarLarge from "./NavBarLarge.astro";
import NavBarSmall from "./NavBarSmall.astro";
import Hamburger from "./icon/Hamburger.astro";
---

<header
  class="sticky top-0 z-50 bg-gradient-to-r from-[#000902] to-[#060900] shadow-lg"
>
  <nav class="flex justify-between items-center px-6 py-4 w-full">
    <!-- Botón para el menú en dispositivos pequeños -->
    <button id="menu-toggle" class="lg:hidden text-white focus:outline-none">
      <Hamburger />
    </button>
    <!-- Menú de navegación (pantallas grandes) -->
    <NavBarLarge />
  </nav>
  <!-- Menú de navegación para pantallas pequeñas -->
  <NavBarSmall />
</header>

<script type="module">
  // Obtener el botón y el menú de navegación móvil
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  // Alternar la visibilidad del menú móvil
  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("hidden");
  });
</script>

