<div class="hidden lg:flex lg:justify-center lg:items-center space-x-10 text-white font-semibold w-full">
    <a href="/" class="hover:text-gray-400 transition-colors duration-300">INICIO</a>
    <a href="/#sobre-mi" class="hover:text-gray-400 transition-colors duration-300">SOBRE MÍ</a>
    <a href="/#experiencia" class="hover:text-gray-400 transition-colors duration-300">EXPERIENCIA</a>
    <a href="/#proyectos" class="hover:text-gray-400 transition-colors duration-300">PROYECTOS</a>
    <a href="/#contacto" class="hover:text-gray-400 transition-colors duration-300">CONTACTO</a>
</div>
