<div id="mobile-menu" class="lg:hidden text-white py-4 px-6 space-y-4 hidden font-bold text-center">
    <a href="/" class="block hover:text-gray-400 transition-colors duration-300">INICIO</a>
    <a href="/#sobre-mi" class="block hover:text-gray-400 transition-colors duration-300">SOBRE MÍ</a>
    <a href="/#experiencia" class="block hover:text-gray-400 transition-colors duration-300">EXPERIENCIA</a>
    <a href="/#proyectos" class="block hover:text-gray-400 transition-colors duration-300">PROYECTOS</a>
    <a href="/#contacto" class="block hover:text-gray-400 transition-colors duration-300">CONTACTO</a>
  </div>